<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			Expense Tracker
		</title>
	</head>
	<body>
		<form onsubmit="saveToLocal(event)">
			<label>Choose ExpanseAmount</label>
			<input type="text" name="name" id="name" required /><br>
			<label>Choose Description</label>
			<input type="text" name="des" id="des"required /><br>
			<label>Choose a category</label>
			<select id="categ" name="categ" required>
				<option value="fuel">fuel</option>
				<option value="food">food</option>
				<option value="electricity">electricity</option>
				<option value="movie">movie</option>
			  </select>
			<button id="button">Add Expanse</button>
		</form>
		<ul id="userlist"></ul>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
		<script src="index.js"></script>
	</body>
	<!-- <script src="index.js"></script> -->
</html>